#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body,
html {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    font-family: "Pixelify Sans", sans-serif;
}

.stage {
    background: gray;
    width: 600px;
    height: 400px;
    position: relative;
}

.hero {
    position: absolute;
    z-index: 2;
    /* background: green; */
    opacity: 0.7;
    aspect-ratio: 1;
    background-image: url(/sprite.png);
    background-position-y: 0;
}

.hero.moving_right,
.hero.moving_left,
.hero.moving_up,
.hero.moving_down {
    animation: move 0.5s steps(4) infinite;
}

.hero.moving_right {
    background-position-y: -128px;
}

.hero.moving_left {
    background-position-y: -64px;
}

.hero.moving_up {
    background-position-y: -192px;
}

.hero.moving_down {
    background-position-y: 0;
}

@keyframes move {
    to {
        background-position-x: -256px;
    }
}

.thingWrapper {
    position: absolute;

    .thing {
        position: absolute;
        inset: 0;
        background-image: url(/sprite.png);
        z-index: 1;
    }

    .paper {
        background-position: 0 -320px;
    }

    .bin1 {
        background-position: -160px -256px;

        &.loading {
            /* transition: all 0.1s;
            transition-timing-function: steps(5); */
            animation: bin 0.5s steps(5) 1 forwards;
            animation-timing-function: steps(5);
        }
    }

    .tooltip {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-110%);
        text-transform: capitalize;
        font-weight: bold;
        display: none;
        padding: 0.25rem 0.5rem;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 2px;
        z-index: 3;

        &.tooltipShow {
            display: block;
        }
    }

    .dropped {
        top: -50%;
        opacity: 1;
        z-index: 10;
        animation: drop 0.3s forwards;
    }
}

.hero {
    .thingWrapper {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes drop {
    to {
        top: 50%;
        opacity: 0;
    }
}

@keyframes bin {
    0% {
        background-position-x: -160px;
    }

    30% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -160px;
    }
}
