#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body,
html {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    font-family: "Pixelify Sans", sans-serif;
}

.stage {
    background: gray;
    width: 50vw;
    height: 50vh;
    position: relative;
}

.hero {
    position: absolute;
    z-index: 2;
    /* background: green; */
    opacity: 0.7;
    aspect-ratio: 1;
    background-image: url(/sprite.png);
    background-position-y: 0;
}

.hero.moving_right,
.hero.moving_left,
.hero.moving_up,
.hero.moving_down {
    animation: move 0.5s steps(4) infinite;
}

.hero.moving_right {
    background-position-y: -128px;
}

.hero.moving_left {
    background-position-y: -64px;
}

.hero.moving_up {
    background-position-y: -192px;
}

.hero.moving_down {
    background-position-y: 0;
}

@keyframes move {
    to {
        background-position-x: -256px;
    }
}

.thingWrapper {
    position: absolute;

    .thing {
        position: absolute;
        inset: 0;
        background-image: url(/sprite.png);
        z-index: 1;
    }

    .tooltip {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-110%);
        text-transform: capitalize;
        font-weight: bold;
        display: none;
        padding: 0.25rem 0.5rem;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 2px;
        z-index: 3;

        &.tooltipShow {
            display: block;
        }
    }

    .paper {
        background-position: 0 -256px;
    }
}
